body {
  padding: 0;
  margin: 0;
  font-family: 'Signika', sans-serif;
  font-weight: 300;
  line-height: 1.5;
  color: rgba(0,0,0,0.75);
}
nav, ul {
  padding: 0;
  margin: 0;
}
/* --------------navigation links------------- */
header {
  background-color: #40596b;
  height: 62px;
}
#navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  margin: 0;
}
.links {
  list-style: none;
  font-size: 1.25rem;
  padding: 0 1rem;
}
.links a {
  text-decoration: none;
  color: #ffd05a;
  opacity: 0.9;
  background-color: transparent;
  transition: color .3s ease-in-out;
}
.links a:hover {
  color: #fff;
}
/* ................. welcome section........................ */
/* at first make the images responsive  */
img {
  display: block;
  max-width: 100%;
  height: auto;
}
#slack-icon {
  width: 2.5rem;
  margin: 0 1rem 0 0;
  padding: 0;
  transition: transform .3s ease-in-out;
}
#slack-icon:hover {
  transform: scale(1.5) rotate(18deg);
}
#mr-robot {
  margin: 2rem auto;
}
/* grid deployment */
#home {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(2, minmax(160px, 1fr));
  justify-items: center;
  align-items: center;
  grid-template-areas:
  "left right";
  background-color: #55c0ec;



}
.bot-description {
  grid-area: left;
  display: flex;
  font-size: 1.25rem;
  text-align: center;
  flex-direction: column;
  margin: 1rem;
  justify-self: end;
  align-self: start;
  /* max-width: 600px; */

}
.bot-robot {
  grid-area: right;
  margin: 1rem;
  /* max-width: 500px; */

}
.heading {
  color: rgba(0,0,0,0.6);
  font-weight: 300;
  font-size: 5rem;
  margin-bottom: 1rem;
}
.bot-description p {
  color: #fff;
  font-size: 1.675rem;
  text-align: center;
  line-height: 1.25;
  margin: auto 3rem;
  margin-bottom: 2rem;
  font-weight: 300;
}
.anchor-button {
  background-color: #fff;
  text-decoration: none;
  border-radius: 4px;
  font-size: 1.75rem;
  padding: 1rem 0.5rem;
  margin: 0 auto;
  display: flex;
  width: 100;
  min-width: 300px;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;
  transition: transform 0.3s ease-in-out;
  line-height: 1;

}
.anchor-button:hover {
  transform: scale(0.98);
}
.anchor-button span {
  color: rgba(0,0,0,0.75);
}
/* ..................... what is tickybot section............... */
#what-is-tickybot {
  min-height: 50vh;
  padding: 1rem;
  line-height: 1.5;
  /* position: relative; */
}
.what-is-div {
  padding: 0;
  margin: 0;
  position: relative;
}
.subheading {
  text-align: center;
  font-size: 2.5rem;
  line-height: 1.25;
  margin: 1rem;
  margin-bottom: 2rem;
  font-weight: 300;
  color: rgba(0,0,0,0.75);

}
.subheading:after {
  background-color: #55c0ec;
  content: "";
  height: 3px;
  width: 160px;
  position: absolute;
  left: 43%;
  bottom: 0%;

}
/* .....grid system for this section.... */
.what-is-container {
  font-size: 1.25rem;
  margin: 0 auto;
  /* width: 85%; */
  display: grid;
  grid-template-columns: repeat(2, minmax(1fr,600px));
  grid-template-rows: 1fr 1fr;
  grid-gap: 2.5rem;
  grid-row-gap: 1rem;
  max-width: 1200px;

}
#child-one {
  grid-area: 1/1/2/2;
}
#child-two {
  grid-area: 1/2/2/3;
}
#child-three {
  grid-area: 2/1/3/3;
  margin-top: 0;
}
/* With this this section is done. But lot of work for media to maintain that absolute position nightmare */
/* ...................................Card section........................................ */
#features {
  background-color: #90ddaa;
  min-height: 50vh;
  padding: 1rem;
}
.how-it-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  padding: 0 1rem;
  max-width: 1200px;
  /* flex-wrap: wrap; */

}
.how-it-image {
  width: 224px;
  margin: 4rem auto;
}


.cards {
  background-color: #40596b;
  border-radius: 4px;
  padding: 0;
  margin: 1rem;
  margin-bottom: 3rem;
  min-width: 300px;
  flex: 1 0 calc(33.33333% -2rem);



}
.cards-description {
  background-color: #fafafa;
  padding: 1rem;
  text-align: center;
  font-size: 1.25rem;
}
code {
  border-radius: 2px;
  color: crimson;
  font-family: monospace;
  font-size: 1rem
  padding: 0.2rem;

}
/* Start using tickyBot section */
.start-using {
  padding: 1rem;
  min-height: auto;
}
.start-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  padding: 0 1rem;
  width: 100%;
  font-size: 1.25rem;
}
#last-button {
  background-color: #40596b;
  margin: 5rem auto;
}
#last-button span {
  color: hsla(0,0%,100%,.9);
}
/* ............Footer............ */
footer p:first-child span {
  margin-right: 0.25rem;
}
#footer {
  padding-bottom: 1rem;
  padding-top: 1rem;
  background-color: #40596b;
  text-align: center;
}
#footer p {
  padding: 0;
  margin: 0 auto;
  margin-bottom: 0.25rem;
  color: hsla(0,0%,100%,.75);
  font-size: 0.825rem;
}
#footer p a {
  color: hsla(0,0%,100%,.75);
}
/* css for back to top button */
#myBtn {
  display: none;
  position: fixed;
  bottom: 16px;
  right: 16px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #ffd05a;
  border-radius: 4px;
  padding: 1rem;
}
#final-image {
  /* width: 2rem; */
}
/* ................. time to work on media queries................. */
@media (max-width: 1110px) {
.how-it-container {
  flex-wrap: wrap;
}
.cards {
  max-width: 400px;
}

}
@media (max-width: 895px) {
.cards {
  max-width: 80vw;
  height: auto;
}
.subheading:after {
  left: 39%;
}
}
@media (max-width: 750px) {
  .subheading:after {
    left: 37%;
  }
}
@media (max-width: 675px) {

}
